<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
	<link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
<style>
body {
    font-family: 'JetBrains Mono';
}
</style>
<meta charset="UTF-8">
<title>Hola Gorka</title>
</head>
<body>
	<div style="display: table; margin:auto; margin-top:10px; border: solid 1px black;width: 50%; text-align: center">
		
		<br>
		<h1>Tranquilo Gorka, no tengo vistas, pero la app funsiona</h1>
		<br>
		<br>	D.E.P. Akira Toriyama <br>
		<br>
		<img src="https://cdn.dribbble.com/userupload/13485530/file/original-16e789bb4620b105098b35ed7b6c948d.png?resize=752x" style="width: 400px;">
		<br>
		<br>
		<br>
		<br>
	</div>
</body>
</html>