<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
	<link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
<style>
body {
    font-family: 'JetBrains Mono';
}
</style>
<meta charset="UTF-8">
<title>Error</title>
</head>
<body>
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black;width: 50%;">
		
		<br>
		<br>
		<!-- esto se enviara a localhost:8080/insertStudent -->
		<h1>Lo de las birras:</h1>
		<br>
		Otro gatito más ha muerto <br>
		<br>
		<br>
		<a href="/../">Volver al indice</a>
		<br>
		<br>
	</div>
</body>
</html>