<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- esto se enviara a localhost:8080/insertStudent -->
	<form th:action="@{/insertStudent}" th:object="${student}">
		<span>Id:</span>
		<input type="number" th:field="*{id}"/>
		<span>Nombre:</span>
		<input type="text" th:field="*{nombre}"/>
		<span>Apellido:</span>
		<input type="text" th:field="*{apellido}"/>
		<input type="submit" value="Enviar datos"/>
	</form>
</body>
</html>