<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black;width: 50%;">
		<form th:action="@{/searchStudent}">
			<span>Buscar por Nombre o Apellido:</span>
			<input type="text" th:name="search"/>
		</form>
		<br>
		<br>
		<!-- esto se enviara a localhost:8080/insertStudent -->
		<span>Insertar o Actualizar estudiante:</span>
		<br>
		<form th:action="@{/insertStudent}" th:object="${student}">
			<span>ID:</span>
			<input type="number" th:field="*{id}" />
			<span>Nombre:</span>
			<input type="text" th:field="*{nombre}"/>
			<span>Apellido:</span>
			<input type="text" th:field="*{apellido}"/>
			<input type="submit" value="Enviar datos"/>
		</form>
	</div>
</body>
</html>